
<style>
  .header-card{
    margin-top:5px;
    height: 30px;
    font-weight: 400;
    font-size : x-large;
    font-stretch: extra-expanded;
    margin-bottom: 50px;
  }
  .menu-card{
    margin-top: 50px;
  }

  .h-p-n{
    background-color:black;
  }

</style>
<div fxLayout="column" class="header-card">
  <mat-card > ASSINGMENT - KARAN MAULEKHI <button mat-button (click)="todo=false; fetch=false" class="h-p-n"> Back To Home Page <mat-icon matIcon>home</mat-icon></button></mat-card>
</div>
<div fxLayout="column" class="menu-card" *ngIf="!todo && !fetch" fxLayoutAlign="start center" fxFlexFill>
  <div fxFlex=15></div>

  <mat-card fxFlex="9"> <button (click)="todo=true; fetch=false "><h2>Click here for Todo app</h2> </button></mat-card>
  <div fxFlex=5></div>
  <mat-card fxFlex="10"><button (click)="todo=false;fetch=true"> <h2>Click here for Fetch Users</h2></button> </mat-card>
</div>
<div *ngIf='todo'>
  <app-todo-app></app-todo-app>
</div>
<div *ngIf='fetch'>
  <app-fetch-user></app-fetch-user>
</div>
